<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="./stylesheets/global.css">
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
  <div id="back">
    <div class="cover">
      <div id="left">
        <i class="ri-chat-1-line"></i>
        <h2>See what's happening in the world right now.</h2>
      </div>
      <div id="right">
        <i class="ri-twitter-fill"></i>
        <h3>Join Twitter Now.</h3>
        <form action="/reg" method="post">
          <input type="text" name="name" placeholder="Name">
          <input type="text" name="username" placeholder="Username">
          <input type="password" name="password" placeholder="Password">
          <input type="submit" value="Register">

        </form>
        <a href="/login">Already a member? login.</a>

      
      </div>
    </div>
  
  </div>
  
</body>
</html>
