<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="./stylesheets/global.css">
  <link rel="stylesheet" href="./stylesheets/login.css">
 
</head>
<body>

<div id="back">
    <div id="login">
        <img src="https://lucycalnandesign.co.uk/wp-content/uploads/2020/11/twitter-312464_1280.png" alt="twitter logo">
        <h3>Login here</h3>
        <form action="/login" method="post">
            
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" id="" placeholder="password">
            <input type="submit">

        </form>
        <a href="/signup">Not registered yet? Signup</a>
    </div>

</div>

  
</body>
</html>
