<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/profile.css">
</head>
<body>
    <div id="back">
        <div class="container">
            <div class="top">
                <div class="content">
                    <div class="icons">
                        <i class="ri-twitter-fill"></i>
                        <div class="more">
                            <i class="ri-more-2-fill"></i>
                        </div>
                       
                    </div>
                   
                   
                    <button>Follow</button>
                </div>
                

            </div>
            <div class="profile-img">
                <i class="ri-twitter-fill"></i>
                <!-- <img src="https://help.twitter.com/content/dam/help-twitter/brand/logo.png" alt=""> -->
            </div>
            <div class="mid">
                <div class="features">
                    <!-- <a href="">Tweets</a>
                    <a href="">Tweets & Replies</a>
                    <a href="">Media</a>
                    <a href="">Likes</a> -->
                    <h4>Tweets</h4>
                    <h4>Retweets</h4>
                    <h4>Likes</h4>
                    <h4>Time</h4>
                </div>
            </div>
            <div class="bottom">
                <div class="btm-left">
                    <div class="user-info">
                        <h3>Twitter</h3>
                        <h4>@twitter</h4>
                        <p>What's happening?</p>
                        <p>Joined February 2007</p>
                        <p><i class="ri-map-pin-line"></i> location</p>
                        
                        
                    </div>
                </div>
                
                <btm class="divide"></btm>

                <div class="btm-right">
                    <h1>Your Tweets go here!</h1>
                    <form action="/tweet">
                        <textarea name="caption" id="" cols="30" rows="10">
                         
                            
                        </textarea>
                        <input type="submit" value="post tweet">
        
                    </form>
                    <a href="/logout"><button>Logout</button></a>
                   
                </div>
                
            </div>
        </div>
    </div>
    
</body>
</html>